USE [master]
GO
CREATE DATABASE [YogaCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YogaCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\YogaCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YogaCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\YogaCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YogaCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YogaCenter]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[maAdmin] [nvarchar](10) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[psw] [nvarchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bangOT](
	[maOT] [nvarchar](10) NOT NULL,
	[maTrainer] [nvarchar](10) NOT NULL,
	[OTRate] [decimal](10, 2) NOT NULL,
	[OTHours] [decimal](5, 2) NOT NULL,
	[OTTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhGia](
	[maDanhGia] [nvarchar](10) NOT NULL,
	[maHV] [nvarchar](20) NOT NULL,
	[maTrainer] [nvarchar](10) NOT NULL,
	[noiDung] [nvarchar](255) NOT NULL,
	[grade] [decimal](3, 1) NOT NULL,
 CONSTRAINT [PK__danhGia__6B15DD9AF976BDD8] PRIMARY KEY CLUSTERED 
(
	[maDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diemDanh](
	[maDiemDanh] [nvarchar](10) NOT NULL,
	[maHV] [nvarchar](20) NOT NULL,
	[maLopHoc] [nvarchar](10) NOT NULL,
	[maSlot] [nvarchar](10) NOT NULL,
	[date] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__diemDanh__FFE83FD79FC962EE] PRIMARY KEY CLUSTERED 
(
	[maDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[mahoaDon] [nvarchar](10) NOT NULL,
	[maHV] [nvarchar](20) NOT NULL,
	[maLopHoc] [nvarchar](10) NOT NULL,
	[giaTien] [money] NOT NULL,
	[ngayThanhToan] [date] NOT NULL,
 CONSTRAINT [PK__hoaDon__99A92E92D5A4C3AD] PRIMARY KEY CLUSTERED 
(
	[mahoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hocVien](
	[maHV] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](25) NOT NULL,
	[dob] [date] NULL,
	[username] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[psw] [nvarchar](75) NOT NULL,
	[gender] [nvarchar](15) NOT NULL,
	[email] [nvarchar](50) NULL,
	[maLopHoc] [nvarchar](20) NULL,
	[maLoaiTK] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__hocVien__7A3E14942A2B5634] PRIMARY KEY CLUSTERED 
(
	[maHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hopDongGiaoVien](
	[maHopDong] [nvarchar](10) NOT NULL,
	[maTrainer] [nvarchar](10) NOT NULL,
	[mucLuong] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiLopHoc](
	[maLoaiLopHoc] [nvarchar](10) NOT NULL,
	[tenLoaiLopHoc] [nvarchar](25) NOT NULL,
	[hocPhi] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopHoc](
	[maLopHoc] [nvarchar](10) NOT NULL,
	[soLuongHV] [int] NOT NULL,
	[soBuoi] [int] NOT NULL,
	[maTrainer] [nvarchar](10) NOT NULL,
	[maLoaiLopHoc] [nvarchar](10) NOT NULL,
	[maSlot] [nvarchar](10) NOT NULL,
	[maRoom] [nvarchar](10) NOT NULL,
	[ngay] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paySlip](
	[maPaySlip] [nvarchar](10) NOT NULL,
	[maHopDong] [nvarchar](10) NOT NULL,
	[maOT] [nvarchar](10) NULL,
	[Deductions] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPaySlip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[maRequest] [nvarchar](10) NOT NULL,
	[maHV] [nvarchar](20) NULL,
	[maTrainer] [nvarchar](10) NULL,
	[maLopHoc] [nvarchar](10) NULL,
	[maAdmin] [nvarchar](10) NULL,
	[noiDung] [nvarchar](255) NOT NULL,
	[ngayGui] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__Request__75555FE1C4DE5DC7] PRIMARY KEY CLUSTERED 
(
	[maRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[maRoom] [nvarchar](10) NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slot](
	[maSlot] [nvarchar](10) NOT NULL,
	[timeStart] [time](7) NOT NULL,
	[timeEnd] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSlot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainer](
	[maTrainer] [nvarchar](10) NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[phone] [nvarchar](11) NOT NULL,
	[email] [nvarchar](25) NOT NULL,
	[salary] [decimal](10, 2) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[psw] [nvarchar](75) NOT NULL,
	[soNgayNghi] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[trainerType] [varchar](255) NOT NULL,
	[maLoaiTK] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTrainer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[diemDanh] ADD  CONSTRAINT [DF__diemDanh__date__48CFD27E]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[hoaDon] ADD  CONSTRAINT [DF__hoaDon__ngayThan__4E88ABD4]  DEFAULT (getdate()) FOR [ngayThanhToan]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__ngayGui__534D60F1]  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[bangOT]  WITH CHECK ADD  CONSTRAINT [fk_maTrainer_OT] FOREIGN KEY([maTrainer])
REFERENCES [dbo].[Trainer] ([maTrainer])
GO
ALTER TABLE [dbo].[bangOT] CHECK CONSTRAINT [fk_maTrainer_OT]
GO
ALTER TABLE [dbo].[danhGia]  WITH CHECK ADD  CONSTRAINT [fk_maHV_danhGia] FOREIGN KEY([maHV])
REFERENCES [dbo].[hocVien] ([maHV])
GO
ALTER TABLE [dbo].[danhGia] CHECK CONSTRAINT [fk_maHV_danhGia]
GO
ALTER TABLE [dbo].[danhGia]  WITH CHECK ADD  CONSTRAINT [fk_maTrainer_danhGia] FOREIGN KEY([maTrainer])
REFERENCES [dbo].[Trainer] ([maTrainer])
GO
ALTER TABLE [dbo].[danhGia] CHECK CONSTRAINT [fk_maTrainer_danhGia]
GO
ALTER TABLE [dbo].[diemDanh]  WITH CHECK ADD  CONSTRAINT [fk_maCaHoc_diemDanh] FOREIGN KEY([maSlot])
REFERENCES [dbo].[slot] ([maSlot])
GO
ALTER TABLE [dbo].[diemDanh] CHECK CONSTRAINT [fk_maCaHoc_diemDanh]
GO
ALTER TABLE [dbo].[diemDanh]  WITH CHECK ADD  CONSTRAINT [fk_maHV_diemDanh] FOREIGN KEY([maHV])
REFERENCES [dbo].[hocVien] ([maHV])
GO
ALTER TABLE [dbo].[diemDanh] CHECK CONSTRAINT [fk_maHV_diemDanh]
GO
ALTER TABLE [dbo].[diemDanh]  WITH CHECK ADD  CONSTRAINT [fk_maLop_diemDanh] FOREIGN KEY([maLopHoc])
REFERENCES [dbo].[lopHoc] ([maLopHoc])
GO
ALTER TABLE [dbo].[diemDanh] CHECK CONSTRAINT [fk_maLop_diemDanh]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [fk_maHV_hoaDon] FOREIGN KEY([maHV])
REFERENCES [dbo].[hocVien] ([maHV])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [fk_maHV_hoaDon]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [fk_maLop_hoaDon] FOREIGN KEY([maLopHoc])
REFERENCES [dbo].[lopHoc] ([maLopHoc])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [fk_maLop_hoaDon]
GO
ALTER TABLE [dbo].[hopDongGiaoVien]  WITH CHECK ADD  CONSTRAINT [fk_maTrainer_hopDong] FOREIGN KEY([maTrainer])
REFERENCES [dbo].[Trainer] ([maTrainer])
GO
ALTER TABLE [dbo].[hopDongGiaoVien] CHECK CONSTRAINT [fk_maTrainer_hopDong]
GO
ALTER TABLE [dbo].[lopHoc]  WITH CHECK ADD  CONSTRAINT [fk_loaiLopHoc_lopHoc] FOREIGN KEY([maLoaiLopHoc])
REFERENCES [dbo].[loaiLopHoc] ([maLoaiLopHoc])
GO
ALTER TABLE [dbo].[lopHoc] CHECK CONSTRAINT [fk_loaiLopHoc_lopHoc]
GO
ALTER TABLE [dbo].[lopHoc]  WITH CHECK ADD  CONSTRAINT [fk_maRoom_lopHoc] FOREIGN KEY([maRoom])
REFERENCES [dbo].[room] ([maRoom])
GO
ALTER TABLE [dbo].[lopHoc] CHECK CONSTRAINT [fk_maRoom_lopHoc]
GO
ALTER TABLE [dbo].[lopHoc]  WITH CHECK ADD  CONSTRAINT [fk_maSlot_lopHoc] FOREIGN KEY([maSlot])
REFERENCES [dbo].[slot] ([maSlot])
GO
ALTER TABLE [dbo].[lopHoc] CHECK CONSTRAINT [fk_maSlot_lopHoc]
GO
ALTER TABLE [dbo].[lopHoc]  WITH CHECK ADD  CONSTRAINT [fk_maTrainer_lopHoc] FOREIGN KEY([maTrainer])
REFERENCES [dbo].[Trainer] ([maTrainer])
GO
ALTER TABLE [dbo].[lopHoc] CHECK CONSTRAINT [fk_maTrainer_lopHoc]
GO
ALTER TABLE [dbo].[paySlip]  WITH CHECK ADD  CONSTRAINT [fk_maPaySlip_hopDong] FOREIGN KEY([maHopDong])
REFERENCES [dbo].[hopDongGiaoVien] ([maHopDong])
GO
ALTER TABLE [dbo].[paySlip] CHECK CONSTRAINT [fk_maPaySlip_hopDong]
GO
ALTER TABLE [dbo].[paySlip]  WITH CHECK ADD  CONSTRAINT [fk_maPaySlip_OT] FOREIGN KEY([maOT])
REFERENCES [dbo].[bangOT] ([maOT])
GO
ALTER TABLE [dbo].[paySlip] CHECK CONSTRAINT [fk_maPaySlip_OT]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [fk_admin_Don] FOREIGN KEY([maAdmin])
REFERENCES [dbo].[admin] ([maAdmin])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [fk_admin_Don]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [fk_maHV_Don] FOREIGN KEY([maHV])
REFERENCES [dbo].[hocVien] ([maHV])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [fk_maHV_Don]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [fk_maLop_Don] FOREIGN KEY([maLopHoc])
REFERENCES [dbo].[lopHoc] ([maLopHoc])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [fk_maLop_Don]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [fk_maTrainer_Don] FOREIGN KEY([maTrainer])
REFERENCES [dbo].[Trainer] ([maTrainer])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [fk_maTrainer_Don]
GO
USE [master]
GO
