<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>OTPController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.OTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassController</servlet-name>
        <servlet-class>com.mycompany.yogacenterproject.controller.ClassController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTPController</servlet-name>
        <url-pattern>/OTPController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/ScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassController</servlet-name>
        <url-pattern>/ClassController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Authentication/signin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
